<a href="https://colab.research.google.com/github/jihyunjeongme/datascience-example-python/blob/master/5%EC%9E%A5_%EC%9A%B0%EB%A6%AC%EB%82%98%EB%9D%BC_%EC%9D%B8%EA%B5%AC_%EC%86%8C%EB%A9%B8_%EC%9C%84%EA%B8%B0_%EC%A7%80%EC%97%AD_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5-1 목표 명확히 하기

---

이상호 한국고용정보원 연구원의 <한국의 지방소멸에 관한 7가지 분석> 이라는 보고서에서 사용한 방법으로, 인구 소멸 지역의 정의를 65세 이상 노인 인구와 20~39세 여성 인구를 비교해서 젋은 여성 인구가 노인 인구의 절반에 미달할 경우 인구 소멸 유ㅣ험 지역으로 분류하는 방법

# 5-1 인구 데이터 확보하고 정리하기

---

KOSIS 국가통계 포털 > 인구 가구 > 인구 부문 > 총조사 인구촐과 > 총조사인구 > 성 연령 및 세대구성별 인구 - 시군구
- 여기서는 github에서 공유하는 데이터로 사용합니다.
  - https://github.com/PinkWink/DataScience/tree/master/data

In [1]:

from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
cd /content/gdrive/My Drive/Colab Notebooks/datascience/5. population_risk

/content/gdrive/My Drive/Colab Notebooks/datascience/5. population_risk

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# 먼저 header=1을 통해서 두번째 줄부터 읽어야 하고
population = pd.read_excel('./05. population_raw_data.xlsx', header=1)

# 빈 셀에 대해 NaN 처리를 하지 않고 그 앞 내용으로 채우도록 합니다. 
population.fillna(method='pad', inplace=True)

population.rename(columns = {'행정구역(동읍면)별(1)': '광역시도',
                              '행정구역(동읍면)별(2)': '시도',
                              '계': '인구수'}, inplace=True)

# 그리고 소계라는 상목도 삭제했습니다.
population = population[(population['시도'] != '소계')]

population

        광역시도    시도         항목       인구수  ...  85 - 89세  90 - 94세  95 - 99세   100+
6      서울특별시   종로구   총인구수 (명)  152737.0  ...    1480.0     602.0       234  220.0
7      서울특별시   종로구  남자인구수 (명)   75201.0  ...     506.0     207.0        89   73.0
8      서울특별시   종로구  여자인구수 (명)   77536.0  ...     974.0     395.0       145  147.0
9      서울특별시    중구   총인구수 (명)  125249.0  ...    1260.0     469.0       158  160.0
10     서울특별시    중구  남자인구수 (명)   62204.0  ...     414.0     132.0        56   51.0
11     서울특별시    중구  여자인구수 (명)   63045.0  ...     846.0     337.0       102  109.0
12     서울특별시   용산구   총인구수 (명)  230241.0  ...    2254.0     916.0       264  315.0
13     서울특별시   용산구  남자인구수 (명)  111601.0  ...     750.0     284.0       102   88.0
14     서울특별시   용산구  여자인구수 (명)  118640.0  ...    1504.0     632.0       162  227.0
15     서울특별시   성동구   총인구수 (명)  299259.0  ...    1944.0     678.0       209  198.0
16     서울특별시   성동구  남자인구수 (명)  148326.0  ...     580.0     184.0        56   54.0
17     서울특별시   성동구  여자인구수 (명)  150933.0  ...    1364.0     494.0       153  144.0
18     서울특별시   광진구   총인구수 (명)  357215.0  ...    2029.0     689.0       228  174.0
19     서울특별시   광진구  남자인구수 (명)  174797.0  ...     631.0     170.0        54   37.0
20     서울특별시   광진구  여자인구수 (명)  182418.0  ...    1398.0     519.0       174  137.0
21     서울특별시  동대문구   총인구수 (명)  355069.0  ...    2577.0     887.0       288  242.0
22     서울특별시  동대문구  남자인구수 (명)  177640.0  ...     801.0     248.0        87   68.0
23     서울특별시  동대문구  여자인구수 (명)  177429.0  ...    1776.0     639.0       201  174.0
24     서울특별시   중랑구   총인구수 (명)  411005.0  ...    2596.0     896.0       257  154.0
25     서울특별시   중랑구  남자인구수 (명)  204900.0  ...     667.0     211.0        57   37.0
26     서울특별시   중랑구  여자인구수 (명)  206105.0  ...    1929.0     685.0       200  117.0
27     서울특별시   성북구   총인구수 (명)  450355.0  ...    3279.0    1099.0       352  305.0
28     서울특별시   성북구  남자인구수 (명)  219951.0  ...     978.0     287.0        87   78.0
29     서울특별시   성북구  여자인구수 (명)  230404.0  ...    2301.0     812.0       265  227.0
30     서울특별시   강북구   총인구수 (명)  327195.0  ...    2373.0     842.0       256  241.0
31     서울특별시   강북구  남자인구수 (명)  160861.0  ...     731.0     219.0        66   63.0
32     서울특별시   강북구  여자인구수 (명)  166334.0  ...    1642.0     623.0       190  178.0
33     서울특별시   도봉구   총인구수 (명)  348220.0  ...    2696.0     938.0       231  129.0
34     서울특별시   도봉구  남자인구수 (명)  171238.0  ...     865.0     240.0        68   25.0
35     서울특별시   도봉구  여자인구수 (명)  176982.0  ...    1831.0     698.0       163  104.0
..       ...   ...        ...       ...  ...       ...       ...       ...    ...
813     경상남도   창녕군   총인구수 (명)   63982.0  ...    1261.0     321.0        54   19.0
814     경상남도   창녕군  남자인구수 (명)   31735.0  ...     283.0      56.0        12    0.0
815     경상남도   창녕군  여자인구수 (명)   32247.0  ...     978.0     265.0        42   19.0
816     경상남도   고성군   총인구수 (명)   54703.0  ...    1179.0     363.0        66   17.0
817     경상남도   고성군  남자인구수 (명)   27452.0  ...     282.0      63.0        13    3.0
818     경상남도   고성군  여자인구수 (명)   27251.0  ...     897.0     300.0        53   14.0
819     경상남도   남해군   총인구수 (명)   45129.0  ...    1538.0     559.0        91   19.0
820     경상남도   남해군  남자인구수 (명)   21566.0  ...     361.0      88.0        12    0.0
821     경상남도   남해군  여자인구수 (명)   23563.0  ...    1177.0     471.0        79   19.0
822     경상남도   하동군   총인구수 (명)   49622.0  ...    1285.0     407.0        80   19.0
823     경상남도   하동군  남자인구수 (명)   24463.0  ...     337.0      81.0        18    2.0
824     경상남도   하동군  여자인구수 (명)   25159.0  ...     948.0     326.0        62   17.0
825     경상남도   산청군   총인구수 (명)   36098.0  ...     953.0     314.0        63   15.0
826     경상남도   산청군  남자인구수 (명)   17666.0  ...     249.0      69.0        10    2.0
827     경상남도   산청군  여자인구수 (명)   18432.0  ...     704.0     245.0        53   13.0
828     경상남도   함양군   총인구수 (명)   40241.0  ...    1050.0     360.0        64   32.0
829     경상남도   함양군  남자인구수 (명)   19244.0  ...     248.0      96.0        10    8.0
830     경상남도   함양군  여자인구수 (명)   20997.0  ...     802.0     264.0        54   24.0
831     경상남도   거창군   총인구수 (명)   63308.0  ...    1269.0     416.0        98   26.0
832     경상남도   거창군  남자인구수 (명)   30746.0  ...     358.0      91.0        22    7.0
833     경상남도   거창군  여자인구수 (명)   32562.0  ...     911.0     325.0        76   19.0
834     경상남도   합천군   총인구수 (명)   48026.0  ...    1346.0     409.0        90   28.0
835     경상남도   합천군  남자인구수 (명)   22825.0  ...     356.0      80.0        14    2.0
836     경상남도   합천군  여자인구수 (명)   25201.0  ...     990.0     329.0        76   26.0
840  제주특별자치도   제주시   총인구수 (명)  470665.0  ...    3976.0    1613.0       513  154.0
841  제주특별자치도   제주시  남자인구수 (명)  235977.0  ...     854.0     226.0        53   17.0
842  제주특별자치도   제주시  여자인구수 (명)  234688.0  ...    3122.0    1387.0       460  137.0
843  제주특별자치도  서귀포시   총인구수 (명)  170932.0  ...    1855.0     733.0       242   77.0
844  제주특별자치도  서귀포시  남자인구수 (명)   86568.0  ...     370.0     103.0        29    9.0
845  제주특별자치도  서귀포시  여자인구수 (명)   84364.0  ...    1485.0     630.0       213   68.0

[792 rows x 16 columns]

In [7]:
population.is_copy = False

# 원래 '항목'으로 되어 있던 컬럼을 '구분' 으로 바꾸고
population.rename(columns = {'항목':'구분'}, inplace=True)

# '총인구수(명)'와 같이 긴 이림을 간단하게 '합계','남자', '여자'로 바꾸도록 합니다.
population.loc[population['구분'] == '총인구수 (명)', '구분'] = '합계'
population.loc[population['구분'] == '남자인구수 (명)', '구분'] = '남자'
population.loc[population['구분'] == '여자인구수 (명)', '구분'] = '여자'

population

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5079: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5080: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

        광역시도    시도  구분       인구수  ...  85 - 89세  90 - 94세  95 - 99세   100+
6      서울특별시   종로구  합계  152737.0  ...    1480.0     602.0       234  220.0
7      서울특별시   종로구  남자   75201.0  ...     506.0     207.0        89   73.0
8      서울특별시   종로구  여자   77536.0  ...     974.0     395.0       145  147.0
9      서울특별시    중구  합계  125249.0  ...    1260.0     469.0       158  160.0
10     서울특별시    중구  남자   62204.0  ...     414.0     132.0        56   51.0
11     서울특별시    중구  여자   63045.0  ...     846.0     337.0       102  109.0
12     서울특별시   용산구  합계  230241.0  ...    2254.0     916.0       264  315.0
13     서울특별시   용산구  남자  111601.0  ...     750.0     284.0       102   88.0
14     서울특별시   용산구  여자  118640.0  ...    1504.0     632.0       162  227.0
15     서울특별시   성동구  합계  299259.0  ...    1944.0     678.0       209  198.0
16     서울특별시   성동구  남자  148326.0  ...     580.0     184.0        56   54.0
17     서울특별시   성동구  여자  150933.0  ...    1364.0     494.0       153  144.0
18     서울특별시   광진구  합계  357215.0  ...    2029.0     689.0       228  174.0
19     서울특별시   광진구  남자  174797.0  ...     631.0     170.0        54   37.0
20     서울특별시   광진구  여자  182418.0  ...    1398.0     519.0       174  137.0
21     서울특별시  동대문구  합계  355069.0  ...    2577.0     887.0       288  242.0
22     서울특별시  동대문구  남자  177640.0  ...     801.0     248.0        87   68.0
23     서울특별시  동대문구  여자  177429.0  ...    1776.0     639.0       201  174.0
24     서울특별시   중랑구  합계  411005.0  ...    2596.0     896.0       257  154.0
25     서울특별시   중랑구  남자  204900.0  ...     667.0     211.0        57   37.0
26     서울특별시   중랑구  여자  206105.0  ...    1929.0     685.0       200  117.0
27     서울특별시   성북구  합계  450355.0  ...    3279.0    1099.0       352  305.0
28     서울특별시   성북구  남자  219951.0  ...     978.0     287.0        87   78.0
29     서울특별시   성북구  여자  230404.0  ...    2301.0     812.0       265  227.0
30     서울특별시   강북구  합계  327195.0  ...    2373.0     842.0       256  241.0
31     서울특별시   강북구  남자  160861.0  ...     731.0     219.0        66   63.0
32     서울특별시   강북구  여자  166334.0  ...    1642.0     623.0       190  178.0
33     서울특별시   도봉구  합계  348220.0  ...    2696.0     938.0       231  129.0
34     서울특별시   도봉구  남자  171238.0  ...     865.0     240.0        68   25.0
35     서울특별시   도봉구  여자  176982.0  ...    1831.0     698.0       163  104.0
..       ...   ...  ..       ...  ...       ...       ...       ...    ...
813     경상남도   창녕군  합계   63982.0  ...    1261.0     321.0        54   19.0
814     경상남도   창녕군  남자   31735.0  ...     283.0      56.0        12    0.0
815     경상남도   창녕군  여자   32247.0  ...     978.0     265.0        42   19.0
816     경상남도   고성군  합계   54703.0  ...    1179.0     363.0        66   17.0
817     경상남도   고성군  남자   27452.0  ...     282.0      63.0        13    3.0
818     경상남도   고성군  여자   27251.0  ...     897.0     300.0        53   14.0
819     경상남도   남해군  합계   45129.0  ...    1538.0     559.0        91   19.0
820     경상남도   남해군  남자   21566.0  ...     361.0      88.0        12    0.0
821     경상남도   남해군  여자   23563.0  ...    1177.0     471.0        79   19.0
822     경상남도   하동군  합계   49622.0  ...    1285.0     407.0        80   19.0
823     경상남도   하동군  남자   24463.0  ...     337.0      81.0        18    2.0
824     경상남도   하동군  여자   25159.0  ...     948.0     326.0        62   17.0
825     경상남도   산청군  합계   36098.0  ...     953.0     314.0        63   15.0
826     경상남도   산청군  남자   17666.0  ...     249.0      69.0        10    2.0
827     경상남도   산청군  여자   18432.0  ...     704.0     245.0        53   13.0
828     경상남도   함양군  합계   40241.0  ...    1050.0     360.0        64   32.0
829     경상남도   함양군  남자   19244.0  ...     248.0      96.0        10    8.0
830     경상남도   함양군  여자   20997.0  ...     802.0     264.0        54   24.0
831     경상남도   거창군  합계   63308.0  ...    1269.0     416.0        98   26.0
832     경상남도   거창군  남자   30746.0  ...     358.0      91.0        22    7.0
833     경상남도   거창군  여자   32562.0  ...     911.0     325.0        76   19.0
834     경상남도   합천군  합계   48026.0  ...    1346.0     409.0        90   28.0
835     경상남도   합천군  남자   22825.0  ...     356.0      80.0        14    2.0
836     경상남도   합천군  여자   25201.0  ...     990.0     329.0        76   26.0
840  제주특별자치도   제주시  합계  470665.0  ...    3976.0    1613.0       513  154.0
841  제주특별자치도   제주시  남자  235977.0  ...     854.0     226.0        53   17.0
842  제주특별자치도   제주시  여자  234688.0  ...    3122.0    1387.0       460  137.0
843  제주특별자치도  서귀포시  합계  170932.0  ...    1855.0     733.0       242   77.0
844  제주특별자치도  서귀포시  남자   86568.0  ...     370.0     103.0        29    9.0
845  제주특별자치도  서귀포시  여자   84364.0  ...    1485.0     630.0       213   68.0

[792 rows x 16 columns]

# 5-3 인구 소멸 위기 지역 계산하고 데이터 정리하기

---

인구 소멸 위기 지역을 알기 위해서는 먼저 20-30대의 인구, 65세 이상 인구수을 알아야 합니다.

In [8]:
population['20-39세'] = population['20 - 24세'] + population['25 - 29세'] + \
                        population['30 - 34세'] + population['35 - 39세']


population['65세이상'] = population['65 - 69세'] + population['70 - 74세'] + \
                        population['75 - 79세'] + population['80 - 84세'] + \
                        population['85 - 89세'] + population['90 - 94세'] + \
                        population['95 - 99세'] + population['100+']

population.head(10)

     광역시도   시도  구분       인구수  ...  95 - 99세   100+   20-39세    65세이상
6   서울특별시  종로구  합계  152737.0  ...       234  220.0  44333.0  24950.0
7   서울특별시  종로구  남자   75201.0  ...        89   73.0  22222.0  10895.0
8   서울특별시  종로구  여자   77536.0  ...       145  147.0  22111.0  14055.0
9   서울특별시   중구  합계  125249.0  ...       158  160.0  38184.0  20388.0
10  서울특별시   중구  남자   62204.0  ...        56   51.0  19347.0   8852.0
11  서울특별시   중구  여자   63045.0  ...       102  109.0  18837.0  11536.0
12  서울특별시  용산구  합계  230241.0  ...       264  315.0  69448.0  35547.0
13  서울특별시  용산구  남자  111601.0  ...       102   88.0  34199.0  14866.0
14  서울특별시  용산구  여자  118640.0  ...       162  227.0  35249.0  20681.0
15  서울특별시  성동구  합계  299259.0  ...       209  198.0  95682.0  39140.0

[10 rows x 18 columns]